@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Inconsolata&family=Lacquer&family=Montserrat+Alternates:wght@300&display=swap');

h1,
h2 {
  font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rebeccapurple;
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.currencies {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 300px;
}